{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create New User - SMS{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2><i class="fas fa-user-plus"></i> Create New User</h2>
            <a href="{% url 'accounts:admin_user_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to Users
            </a>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h6 class="m-0"><i class="fas fa-user-plus"></i> User Information</h6>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.user_type|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.phone_number|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.date_of_birth|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.profile_picture|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'accounts:admin_user_list' %}" class="btn btn-secondary me-md-2">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Create User
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// Show/hide fields based on user type
document.getElementById('id_user_type').addEventListener('change', function() {
    const userType = this.value;
    // You can add specific field visibility logic here based on user type
});
</script>
{% endblock %}